body {
    margin: 0;
    padding: 0;
    background-color: #eaf4f7;
    height: 100vh;
  }
 div {
    padding-top: 0px;
  }
#signup-form {
    background-color: #EAEAEA;
    padding: 40px;
    margin-top:20px;
}
#error {
  padding: 40px;
  margin-top:40px;
}
