<% layout('layouts/boilerplate')%> 
<link rel="stylesheet" type="text/css" href="login.css">
    <% if( error.length) {%>
        <div class="col">
        <div class="alert alert-danger" role="alert">
          <%= error %> 
        </div>
      </div>
        <% } %>
        <% if( success.length) {%>
            <div class="col">
            <div class="alert alert-success" role="alert">
              <%= success %> 
            </div>
          </div>
            <% } %>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="/login" method="post" novalidate >
                                <h3 class="text-center text-muted">Login</h3>
                                <div class="form-group ">
                                    <label for="username" class="text-muted">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-muted">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                   
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="sign in ">
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="/passwordreset" class="text-muted">Forget Password</a>
                                </div>
                                

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <script src="./login.js"></script>
</body>
</html>